---
---

/* Fonts */

@font-face {
    font-family: EquityA;
    src: url("fonts/equity_ot_a_regular_custom.woff2");
}

@font-face {
    font-family: EquityA;
    font-weight: bold;
    src: url("fonts/equity_ot_a_bold_custom.woff2");
}

@font-face {
    font-family: EquityA;
    font-style: italic;
    src: url("fonts/equity_ot_a_italic_custom.woff2");
}

@font-face {
    font-family: EquityA;
    font-weight: bold;
    font-style: italic;
    src: url("fonts/equity_ot_a_bold_italic_custom.woff2");
}

@font-face {
    font-family: Concourse;
    font-weight: 300;
    src: url("fonts/concourse_ot_3_book_custom.woff2");
}

@font-face {
    font-family: Concourse;
    font-weight: 300;
    font-style: italic;
    src: url("fonts/concourse_ot_3_book_italic.woff2");
}

@font-face {
    font-family: Concourse;
    font-weight: 400;
    src: url("fonts/concourse_ot_4_medium_custom.woff2");
}

@font-face {
    font-family: Concourse;
    font-weight: 400;
    font-style: italic;
    src: url("fonts/concourse_ot_4_medium_italic.woff2");
}

@font-face {
    font-family: Concourse;
    font-weight: 600;
    src: url("fonts/concourse_ot_6_semibold.woff2");
}

@font-face {
    font-family: Concourse;
    font-weight: 600;
    font-style: italic;
    src: url("fonts/concourse_ot_6_semibold_italic.woff2");
}

@font-face {
    font-family: "Fira Mono";
    font-weight: 300;
    src: url("fonts/fira_mono_regular.woff2");
}


@font-face {
    font-family: "Fira Mono";
    font-weight: 600;
    src: url("fonts/fira_mono_regular.woff2");
}

/* Variables and functions */

$serif-font: EquityA, TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
$sans-serif-font: Concourse, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
$monospaced-font: 
             "Fira Mono", ui-monospace, 
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Oxygen Mono", 
             "Ubuntu Monospace", 
             "Source Code Pro",
             "Fira Mono", 
             "Droid Sans Mono", 
             "Courier New", monospace;
$body-text-size: 23px;
$body-line-spacing: 1.45;
$bg-color: #FFFFFF;
$text-color: #000000;
$accent-color: #E34234;

@mixin hyphenate {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

@mixin small-caps {
    text-transform: lowercase;
    /* True for Equity and Concourse only */
    font-feature-settings: "ss10";
}

sc { @include small-caps; font-family: $sans-serif-font; }

.sf { font-family: $sans-serif-font; }

/* */

body {
    font-family: $serif-font;
    font-size: $body-text-size;
    color: $text-color;
    background-color: $bg-color;
    line-height: $body-line-spacing;
    max-width: 650px;
    margin: 50px auto 220px auto;
    font-feature-settings: "liga";
    // @include hyphenate;
}

p {
    margin-top: 0;
}

h1.page-title {
    font-family: $sans-serif-font;
    font-weight: 400;
    // font-size: 48px;
    // font-weight: 400;
    // text-align: center;
    // @include small-caps;
    // margin: 0;
    font-size: 36px;
}

h2, h3 {
    font-size: $body-text-size;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
    @include small-caps;
}

/* Site header */

h1.site-title {
    font-family: $sans-serif-font;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    @include small-caps;
    margin: 0;
}

$nav-padding: 33px;
nav {
    margin-top: 0;
    font-family: $sans-serif-font;
    font-size: 29px;
    font-weight: 300;
    text-align: center;
    @include small-caps;

    a {
        padding-left: $nav-padding;
        padding-right: $nav-padding;
    }
}

/* Links */

a {
    color: $accent-color;
    text-decoration: none;
    transition: opacity 0.1s;
}

a:hover {
    opacity: 0.5;
}

a.section {
    @include small-caps;
    font-family: $sans-serif-font;
}


/* Tables */

table {
    margin: auto;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
}

$cell-padding: 28px;
td, th {
    // padding-left: $cell-padding;
    // padding-right: $cell-padding;
    padding-top: 0px;
    padding-bottom: 0px;
    // padding: 0 $cell-padding 0 $cell-padding;
    text-align: center;
}

th {
    font-weight: inherit;
    @include small-caps;
    font-family: $sans-serif-font;
    // font-size: 105%;
}

// table, td, th { border: 1px; border-collapse: collapse; }

/* Lists */

li {
    margin-bottom: 5px;
}

/* Misc */

sig {
    font-family: $sans-serif-font;
    font-size: 105%;
    @include small-caps;
    text-align: right;
    margin-bottom: 25px;
}

sig::before { content: "—" }

.colored {
    color: $accent-color;
}

audio { width: 100%; }
img { margin: auto; text-align: center; display: block; }
textarea { resize: none; width: 100%;
    font-family: $sans-serif-font;
    font-size: $body-text-size;
    margin: 1.5em auto;
}

code {
    font-family: $monospaced-font;
    font-size: $body-text-size * 0.9;
}